* {
  font-family: 'Poor Story', cursive;
  color: aliceblue;
  font-size: 1.25em;
  text-shadow: 0 0 3px black;
  margin: 0;
  padding: 0;
}

.panels {
  flex: 1;
  background-color: salmon;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  background-position: bottom;
  transition: all 2s;
}

.panel > p:first-child {
  transform: translateY(-400%);
  transition: all 2s;
}

.panel > p:last-child {
  transform: translateY(400%);
  transition: all 2s;
}

.open {
  flex: 2;
}

.open p {
  transform: scale(1.5);
  transition: all 2s;
}

.open > p:first-child {
  transform: translateY(0%);
}

.open > p:last-child {
  transform: translateY(0%);
}

.panel:hover {
  cursor: pointer;
}

.first{
  background-image: url('../images/an-tran-qWQGk5mdVBU-unsplash.jpg');
}
.second{
  background-image: url('../images/daniel-sessler-BurTAJlbsRo-unsplash.jpg');
}
.third{
  background-image: url('../images/jared-bell-V0N7to1BC-w-unsplash.jpg');
}
.fourth{
  background-image: url('../images/mathew-schwartz-3VoObnPe-tI-unsplash.jpg');
}
.fifth{
  background-image: url('../images/nathan-anderson-kujXUuh1X0o-unsplash.jpg');
}
